<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">

    <script src="{{ STATIC_URL}}js/libs/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <style>
        .container {
            margin-left:20px;
        }

    </style>

  </head>
  <body>

    <div class="container">
      <h1>{{ season }} Bowl Picks</h1>

      <table class="zebra-striped" id="sortable">
        <thead>
          <tr>
            <th>Player</th>
            {% for game in games %}
              <th>{{ game.name }}<br>{{ game.home_team.school.abbr }} vs {{ game.away_team.school.abbr }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for player, picks in players %}
            <tr>
              <td>({{ player.points }}) {{ player }} </td>
                {% for pick in picks %}
                  <td>{{ pick.winner.school.abbr }}</td>
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  <script >
        $(function() {
          $("#sortable").tablesorter({ sortList: [[0,1]]});
        });
  </script>
</html>