{% extends "pick/pick_base.html" %}

{% block subtitle %}
    Choose a player
{% endblock subtitle %}

{% block extended_css %}
    <style>
        .game-name {
            text-align:right;
            font-size:20px;
            font-weight:bold;
            text-transform: uppercase;
        }

        .games {
            margin-top:2px;
        }
        .choice {
            font-size:13px;
        }

        a.choice {
          color:black;
        }

        a.choice:link {
          color: black;
          text-decoration: none;
        }

        a.choice:hover {
          font-weight:bold;
          text-decoration: none;
        }

        a.choice:visited {
          color: black;
          text-decoration: none;
        }

        a.choice.active {
          color: black;
          text-decoration: none;
        }

        a.selected {
          font-weight:bold;
          font-size:15px;
          text-decoration:none;
        }

    </style>
{% endblock extended_css %}

      {% block header %}
        <div class="page-header">
          <h1>Picks for Bonnie1</h1>
        </div>
      {% endblock header %}

{% block content %}
 <div class="row" id="game-1">
  <div class="span5">
    <p class="game-name">Alamo Bowl</p>
  </div>
  <div class="span5">
    <p class="games"><a class="choice " href"#">CSU</a> vs <a class="choice" href"#">CU</a></p>
  </div>
</div>
<div class="row" id="game-2">
  <div class="span5">
    <p class="game-name">San Diego Bowl</p>
  </div>
  <div class="span5">
    <p class="games"><a class="choice" href"#">TCU</a> vs <a class="choice
    " href"#">BYU</a></p>
  </div>
</div>
<div class="row" id="game-3">
  <div class="span5">
    <p class="game-name">St Petersburg Bowl</p>
  </div>
  <div class="span5">
    <p class="games"><a class="choice selected" href"#">UTEP</a> vs <a class="choice" href"#">SDSU</a></p>
  </div>
</div>





{% endblock content %}

