{% extends "new_base.html" %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function(){
        $('.badge').popover({
          html: true,
          placement: 'right',
          trigger: 'hover',
        });
    })
  </script>
{% endblock js %}


{% block css %}
  {{ block.super }}
  <style>
    .pick-row {
      margin-top:40px;
      margin-left:10px;
    }

    article {
        height: 45px;
    }
    article>* {
        float: left;
        height: 30px;
    }
    article header{
        width:175px;
        margin-right:20px;
    }

    .score {
      margin-top:10px;
      margin-left:20px;
    }

    .win, .lose {
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .circle {
          display: block;
          width: 11px;
          height: 11px;
          -moz-border-radius: 11px;
          -webkit-border-radius: 11px;
          border: 1px solid #333;
          margin-left: 3px;
          margin-top:10px;
          margin-right:3px;
        }

    .win {
      background: #333;
    }

    .lose {
      background: #fff;
    }


  </style>
{% endblock css %}

{% block container %}
  <div class="container">
    {% block content %}
      {% for rank in rankings %}
        <div class="row pick-row">
          <div class="span2">
            <h4>{{ rank.player }}</h4>
          </div>
          <div class="span8">
            {% for pick in rank.player.pick_set.curent_season %}
              <span class="badge {% if pick.correct %}badge-success{% endif %}"
                    id="game-{{ pick.game.pk }}"
                    data-original-title="{{ pick.game.name }}"
                    rel="popover"
                    data-content="
                  <p>{{ pick.game.short_name }}</p>
                  <p><strong>Picked:</strong> {{ pick.winner.school.abbr }}
                  {% if pick.game.winner.school %}
                    <br><strong>Winner:</strong>{{ pick.game.winner.school.abbr }}
                  {% endif %}">{% if pick.correct %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}
                </span>
            {% endfor %}
          </div>
          <div class="span1 pull-right">
            <h4>{{ rank.player.points }}/<small>{{ rank.player.wrong }}</small></h4>
          </div>
        </div>
        {% endfor %}
    {% endblock content %}

    <hr>
    {% block footer %}
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    {% endblock footer %}
  </div><!--/.fluid-container-->
{% endblock container %}
