
{% if forloop.last %}
  <div class="well">
    <h3>Tie Breaker</h3>
    <p>
      <a class="btn btn-small{% if pick.winner == pick.game.home_team %} active{% endif %}"
      onClick="upDatePick({{pick.game.pk}}, {{pick.game.home_team.pk}}, {{player.pk}}, (this));" >{{ pick.game.home_team.school.abbr}} <small>({{ pick.game.home_team.record }})</small></a>
      vs.
      <a class="btn btn-small{% if pick.winner == pick.game.away_team %} active{% endif %}" onClick="upDatePick({{pick.game.pk}}, {{pick.game.away_team.pk}}, {{player.pk}}, (this));" >{{ pick.game.away_team.school.abbr}} <small>({{ pick.game.away_team.record }})</small></a>
    </p>
      <form>
        <input class="span1 tie-breaker" id="{{ player.pk }}_home_score" name="{{ player.pk }}_home_score" type="text" {% if pick.home_score %}value="{{ pick.home_score }}"{% endif %}>
        -
        <input class="span1 tie-breaker" id="{{ player.pk }}_away_score" name="{{ player.pk }}_away_score" type="text" {% if pick.away_score %}value="{{ pick.away_score }}"{% endif %}>
      </form>
  </div>
{% else %}
    <p>
      <a class="btn btn-small{% if pick.winner == pick.game.home_team %} active{% endif %}"
      onClick="upDatePick({{pick.game.pk}}, {{pick.game.home_team.pk}}, {{player.pk}}, (this));" >{{ pick.game.home_team.school.abbr}} <small>({{ pick.game.home_team.record }})</small></a>
      vs.
      <a class="btn btn-small{% if pick.winner == pick.game.away_team %} active{% endif %}" onClick="upDatePick({{pick.game.pk}}, {{pick.game.away_team.pk}}, {{player.pk}}, (this));" >{{ pick.game.away_team.school.abbr}} <small>({{ pick.game.away_team.record }})</small></a>
    </p>
{% endif %}
