{% extends "contact/base.html" %}

{% block content %}
<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span8 offset1">
        <form action="{% url contact %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Contact Me</legend>

           {% include "forms/form.html" %}

          <div class="actions">
            <input type="submit" class="btn primary" value="Submit">&nbsp;
            <button type="reset" class="btn">Cancel</button>
          </div>
          </fieldset>
        </form>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}