<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}BowlPicks - {% block subtitle %}{% endblock subtitle %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  {% block css %}
  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  {% block extended_css %}{% endblock extended_css %}
  <!-- end CSS-->
  {% endblock css %}


  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{{STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="{% url homepage %}">BowlPicker</a></h3>
          <ul>
            {% block nav %}
              <li class="active"><a href="{% url homepage %}">Home</a></li>
              <li><a href="{% url pick_list %}">Pick List</a></li>
              <li><a href="/help/">Help</a></li>
            {% endblock nav %}
          </ul>
          <ul class="nav secondary-nav">
            {% if user.is_authenticated %}
              <li class="menu">
                <a href="#" class="menu">{{ user.get_profile }}</a>
                <ul class="menu-dropdown">
                  <li><a href="{% url bowlpicks_profile_detail user.get_profile.pk %}">Profile</a></li>
                  <li><a href="{% url profile_picks user.get_profile.pk %}">My Picks</a></li>
                  <li class="divider"></li>
                  {% if user.is_staff %}
                  <li><a href="{% url email_everyone %}">Email Everyone</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  <li><a href="{% url auth_logout %}">Log out</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{% url auth_login %}">Log in</a></li>
              <li><a href="{% url registration_register %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div> <!-- /fill -->
    </div> <!-- /topbar -->
  </div> <!-- topbar-wrapper -->

    <div class="container bowlpick-container">

      <div class="content">
      {% block header %}
        <div class="page-header">
          <h1>{{ season }} Bowl Picks</h1>
        </div>
      {% endblock header %}
      {% block content %}
        <div class="row">
          <div class="span10">
            <h2>Main content</h2>
          </div>
          <div class="span4">
            <h3>Secondary content</h3>
          </div>
        </div>
      </div>
      {% endblock content %}

      {% block footer %}
        <footer>
          <p>&copy; <a href="http://www.nicklang.com">Nick Lang</a> 2011</p>
        </footer>
      {% endblock footer %}

    </div> <!-- /container -->
  {% block js %}
  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="{{ STATIC_URL}}js/libs/jquery-1.6.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="{{ STATIC_URL }}js/application.js"></script>
  <script defer src="{{ STATIC_URL }}js/prettify.js"></script>
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  <script defer src="{{ STATIC_URL }}js/jquery.ba-dotimeout.min.js"></script>
  <!-- end scripts-->


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  {% block extended_js %}{% endblock extended_js %}
  {% endblock js %}


</body>
</html>
