{% extends "new_base.html" %}

{% block subtitle %}
    Bowlpicks
{% endblock subtitle %}

{% block extended_css %}
{% endblock extended_css %}


{% block container %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% block leaderboard %}
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"><i class="icon-signal"></i> Leaderboard</li>
                <ol>
                  {% for player in season.leaders %}
                    <li>{{ player.player }} <strong>({{ player.correct }})</strong></li>
                  {% endfor %}
                </ol>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        {% endblock leaderboard %}


        <div class="span9">
          <div class="hero-unit">
            {% if todays_games %}
              {% for game in todays_games %}
                <div class="row-fluid">
            <div class="page-header">
              <h2>{{ game.name }} <small>{{ game.date|date:"g:i a" }} {{ game.get_timezome_display }} on {{ game.channel }}</small></h2>
            </div>

            <div class="span2">
              <div style="font-size: 100px;">
                <span class="chartwell pies">
                  <span style="color: {{ game.home_team.school.color }}">{{ game.home_percent }}</span>
                  <span style="color: {{ game.away_team.school.color }}">{{ game.away_percent }}</span>
                  <span style="color: #fff">A</span> <!-- medium sized white centre piece -->
                </span>
              </div>
            </div>

            <div class="span3">
              <p>{% if game.home_score %}<span class="badge  {% if game.winner == game.home_team %}badge-success{% endif %}">{{ game.home_score }}</span>{% endif %}
                <small>
                {% if game.home_team.rank %}
                  ({{ game.home_team.rank }})
                {% endif %}
                </small>
                <strong style="color: {{ game.home_team.school.color }}">{{ game.home_team.school.abbr }} {% if game.winner_home %}<i class="icon-star"></i>{% endif %} </strong>
                ({{ game.home_team.record }})</br>
                <small>{{ game.home_team.school.conference }}</small>
              </p>
            </div>



            <div class="span1">
              <h3>VS</h3>
            </div>

            <div class="span3">
              <p>{% if game.away_score %}<span class="badge {% if game.winner == game.away_team %}badge-success{% endif %}">{{ game.away_score }}</span>{% endif %}
                <small>
                {% if game.away_team.rank %}
                  ({{ game.away_team.rank }})
                {% endif %}
                </small>
                <strong style="color: {{ game.away_team.school.color }}">{{ game.away_team.school.abbr }} {% if game.winner_away %}<i class="icon-star"></i>{% endif %} </strong>
                ({{ game.away_team.record }})</br>
                <small>{{ game.away_team.school.conference }}</small>
              </p>
            </div>


          </div>
              {% endfor %}
            {% else %}
              <h2>No games today! :(</h2>
            {% endif %}
          </div>

          {% for game in games %}
          <div class="row-fluid">
            <div class="page-header">
              <h2>{{ game.name }} <small>{{ game.date|date:"g:i a" }} {{ game.get_timezome_display }} on {{ game.channel }}</small></h2>
            </div>

            <div class="span2">
              <div style="font-size: 100px;">
                <span class="chartwell pies">
                  <span style="color: {{ game.home_team.school.color }}">{{ game.home_percent }}</span>
                  <span style="color: {{ game.away_team.school.color }}">{{ game.away_percent }}</span>
                  <span style="color: #fff">A</span> <!-- medium sized white centre piece -->
                </span>
              </div>
            </div>

            <div class="span3">
              <p>{% if game.home_score %}<span class="badge  {% if game.winner == game.home_team %}badge-success{% endif %}">{{ game.home_score }}</span>{% endif %}
                <small>
                {% if game.home_team.rank %}
                  ({{ game.home_team.rank }})
                {% endif %}
                </small>
                <strong style="color: {{ game.home_team.school.color }}">{{ game.home_team.school.abbr }} {% if game.winner_home %}<i class="icon-star"></i>{% endif %} </strong>
                ({{ game.home_team.record }})</br>
                <small>{{ game.home_team.school.conference }}</small>
              </p>
            </div>



            <div class="span1">
              <h3>VS</h3>
            </div>

            <div class="span3">
              <p>{% if game.away_score %}<span class="badge {% if game.winner == game.away_team %}badge-success{% endif %}">{{ game.away_score }}</span>{% endif %}
                <small>
                {% if game.away_team.rank %}
                  ({{ game.away_team.rank }})
                {% endif %}
                </small>
                <strong style="color: {{ game.away_team.school.color }}">{{ game.away_team.school.abbr }} {% if game.winner_away %}<i class="icon-star"></i>{% endif %} </strong>
                ({{ game.away_team.record }})</br>
                <small>{{ game.away_team.school.conference }}</small>
              </p>
            </div>


          </div>
          {% endfor %}

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        {% include "footer.html" %}
      </footer>

    </div><!--/.fluid-container-->
  {% endblock container %}


