{% extends "base.html" %}

{% block extended_css %}
  <style>
    .add-player {
      background-color: #f5f5f5;
      padding: 10px;
      -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
              border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
  </style>
{% endblock extended_css %}

{% block subtitle %}
    {{ profile }} Profile
{% endblock subtitle %}

{% block header %}
  <div class="page-header">
    <h1>{{ profile.full_name }}</h1>
     {% if season.is_froze %}
      <h3>Picks are now frozen.</h3>
    {% else %}
      <h3>Picks will be frozen on {{ season.freeze_date }}</h3>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="span6">
      <h3>My Players</h3>
      <ul>
        {% if not profile.player_set.all %}
          <p>You have no players, please create one now!</p>
        {% else %}
          {% for player in profile.player_set.all %}
            <li><a href="{% url pick_detail player.pk %}">{{ player }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div class="span offset3 add-player">
      <form method="post" action="{% url bowlpicks_profile_detail profile.pk%}">
        <fieldset>
          <legend>Add a new player</legend>
          <div class="clearfix">
            <label for="id_name">Player Name: </label>
            <div class="input">
              <input class="large" id="id_namee" name="name" type="text" />
            </div>
          </div>
          <div class="actions">
            <input type="submit" class="btn primary" value="Create Player">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock content %}