{% extends "base.html" %}

{% block extended_css %}
  <style>
   .choice {
      font-size:13px;
    }

    a.choice {
      color:black;
      cursor:pointer;
    }

    a.choice:link {
      color: black;
      text-decoration: none;
      cursor:pointer;
    }

    a.choice:hover {
      font-weight:bold;
      text-decoration: none;
      cursor:pointer;
    }

    a.choice:visited {
      color: black;
      text-decoration: none;
      cursor:pointer;
    }

    a.choice.active {
      color: black;
      text-decoration: none;
      cursor:pointer;
    }

    a.selected {
      font-weight:bold;
      font-size:15px;
      text-decoration:none;
      cursor:pointer;
    }
  </style>
{% endblock extended_css %}

{% block extended_js %}
  <script>
    var markSelected = function(selected, parent){
      var selected = selected;
      var children = $(parent).children();

      if( selected == children[0]){
        var unselected = children[1]
      }else{
        var unselected = children[0]
      }

      if ( !($(selected).hasClass('selected')) ){
        $(selected).addClass('selected');
      }

      if ( $(unselected).hasClass('selected')) {
        $(unselected).removeClass('selected');
      }
    };

    var upDatePick = function(game_id, winner_id, player_id, selected){
      var game_id = game_id;
      var winner_id = winner_id;
      var player_id = player_id;
      var selected = selected;
      var parent = $(selected).parent()

      $.get('{% url pick_create %}',
        {game: game_id, winner: winner_id, player: player_id},
        function(data) {
          markSelected(selected, parent);
          });
    };

    var updateScore = function(data) {
      var score = data.val()
      var player_id = data.attr('id').split("_")[0]
      var home_or_away = data.attr('id').split("_")[1]

      $.get('{% url tie_breaker %}',
        { player_id: player_id, home_or_away: home_or_away, score: score},
        function (data){
          console.log("Player: '" + player_id + "': " + home_or_away + " score: " + score);
        });
    };


    $('form input').keyup(function(){
      $(this).doTimeout( 'tie-breaker', 1000, function(){
          updateScore(this);
          //$('#text-type').text( this.val() || default_text );
      });
    });

  </script>
{% endblock extended_js %}

{% block subtitle %}
    {{ profile }} picks
{% endblock subtitle %}

{% block header %}
  <div class="page-header">
    <h2>My Picks</h2>
    <p>Click on a team name to make your selection.</br>
    <small>Any questions contact <a href="mailto:nick@nicklang.com">Nick</a></small></p>

    {% if profile.current_season.is_froze %}
      <h3>Picks are now frozen.</h3>
    {% else %}
      <h3>Picks will be frozen on {{ profile.current_season.freeze_date }}</h3>
    {% endif %}
  </div>

{% endblock header %}

{% block content %}
  <div class="row">
    {% for player in profile.player_set.all %}
       <div class="span">
          <h3>{{ player }}</h3>
          {% for pick in player.pick_set.curent_season %}
            {% include "pick/pick_picklist.html" %}
          {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}